@import './variables';

.page__fifthsight{
    position: relative;
 background: #f3f3f3;
    height: 100%;
    width: 100%;


    &__sponsers{
        display: flex;
        
        align-items: center;
        padding: 80px 200px;
        padding-bottom: 130px;
        justify-content: space-between;

        @media (max-width:1500px){
            padding:80px 42px ;
          
            
           
        }



        @media (max-width:350px){
            padding: 40px 20px;
          }
          
          

        @media (max-width:950px){
            flex-direction: column;
            gap: 100px;
           
          }


        svg{
            
            cursor: pointer;
            fill: #737373;
            transition: all .3s ease-in-out;
            


           

            &:hover{
                transform: scale(1.1);
            }

&:nth-child(1){
            &:hover{

                fill: red;
            }
        }

&:nth-child(2){
            &:hover{

                fill: yellow;
            }
        }

&:nth-child(3){
            &:hover{

                fill: green;
            }
        }
&:nth-child(4){
            &:hover{

                fill: blue;
            }
        }
&:nth-child(5){
            &:hover{

                fill: orange;
            }
        }
&:nth-child(6){
    margin-right: 0px;
            &:hover{

                fill: purple;
            }
        }
        }
    }

    &__input{
        border-radius: 3px;
        width: 100%;
        
       
        height: 124px;
        background: #16697A;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        
        align-items: center;

        @media (max-width:1000px){
            flex-direction: column;
            height: 100%;
            gap: 50px;
           
          }

          @media (max-width:310px){
          padding: 20px 5px;
           
          }



        
          
          

        &--container{
            padding: 0px 200px;
            position: relative;
            top: 50px;



            @media (max-width:1500px){
                padding:0px 42px ;
                bottom: 0px;
            }



            @media (max-width:350px){
                padding: 0px 20px;
              }
              
              
        }
      
     


        &--titles{
            h3{
        
                font-weight: 700;
                font-size: 24px;
                letter-spacing: .2px;
                color: #ffffff;
                line-height: 32px;

                @media (max-width:950px){
                    text-align: center;
                   
                  }


                  
          @media (max-width:310px){
           font-size: 14px;
             
            }
  
            }


        }
    }

    &__footer{
        height: 80px;
        width: 100%;
        background: #252B42;
    }
}


form{
    margin: 0px;
}
.mail{
    height: 58px;
    width: 333px;
    padding-left: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid white;

    @media (max-width:950px){
        width: 60%;
        padding-left: 20px;
        font-size: 14px;
       
      }

    @media (max-width:310px){
        width: 65px;
        padding-left: 20px;
        font-size: 10px;
        height: 30px;
        padding-left: 5px;
       
      }

    




    
}

form button{
    height: 58px;
    width: 117px;
    position: relative;
    left: -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FFA62B;
    color: #e6e6e6;
    border: 1px solid white;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s ease;



    &:hover{
     
       background: #252B42;
   
    font-weight: 700;
    }


    @media (max-width:950px){
        width: 38%;
        padding-left: 20px;
        font-size: 14px;
        font-weight: 400;
        padding-left: 0px;
       
      }


      @media (max-width:310px){
        width: 65px;
        padding-left: 20px;
        font-size: 10px;
        height: 30px;
        padding-left: 0px;
       
      }
}